<style>

  body {
    background: url("https://res.cloudinary.com/dsndzibyq/image/upload/v1587843962/background_o9ahb7.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:120px;
    width: 22%;
  }

  #form{
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width: 60%;
  }

  p{
    text-align: center;
  }

  html {
    font-family: 'Montserrat', sans-serif !important;
  }

  body {
    font-family: 'Montserrat', sans-serif !important;
  }

  a{
    font-family: 'Montserrat', sans-serif !important;
  }

</style>

<img src="https://res.cloudinary.com/dsndzibyq/image/upload/v1587847472/welcome_cmtfs5.jpg" >
<div class="row mt-5" id="form"> 
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center border-0">
      <p>Create an account or login</p>
      <a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
      <a href="/users/register" class="btn btn-secondary btn-block">Register</a>
      <a href="/call" class="btn btn-secondary btn-block">Let Us Know You Are Here</a>

    </div>
  </div>
</div>